<!DOCTYPE html>
<!-- main.html.erb - a layout for the main controller of cars
     -->
<html lang="en">
  <head> 
    <title> Main </title>
    <%= stylesheet_link_tag "mainstyles" %>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1> Aidan's Used Car Lot </h1>
    <h2> Welcome to our home document </h2>
    <%= yield  %>
    <hr/>
    <p> Copyright 2012, AUCL, Inc. </p>
  </body>
        </html>